{% extends 'base.html' %}

{% block title %}Rejestracja{% endblock %}

{% block footer %}
<script src="/js/hideShowPassword.min.js"></script>
<script scr="/js/app.js"></script>

<script>
    $(document).ready(function () {
        $('#formSignup').validate({
            rules: {
                name: 'required',
                email: {
                    required: true,
                    email: true,
                    remote: '/account/validate-email'
                },
                password: {
                    required: true,
                    minlength: 6,
                    validPassword: true
                }
            },
            messages: {
                email: {
                    remote: 'E-mail już istnieje w bazie danych.'
                }
            }
        });


        /**
          * Show password toggle button
          */
        $('#inputPassword').hideShowPassword({
            show: false,
            innerToggle: 'focus'
        });
    });
</script>

{% endblock %}

{% block body %}

<h3>Rejestracja</h3>

{% if user.errors is not empty %}
<p>Errors:</p>
<ul>
    {% for error in user.errors %}
    <li>{{ error }}</li>
    {% endfor %}
</ul>
{% endif %}

<form method="post" action="/signup/create" id="formSignup">

    <div class="form-group">
        <label for="inputName">Imię</label>
        <input id="inputName" name="username" placeholder="imię" autofocus value="{{ user.username }}" required class="form-control"/>
    </div>
    <div class="form-group">
        <label for="inputEmail">E-mail</label>
        <input id="inputEmail" name="email" placeholder="e-mail" value="{{ user.email }}" required
            type="email" class="form-control" />
    </div>
    <div class="form-group">
        <label for="inputPassword">Hasło</label>
        <input type="password" id="inputPassword" name="password" placeholder="hasło" required class="form-control"/>
    </div>

    <button type="submit" class="btn btn-default">Zarejestruj się</button>

</form>

{% endblock %}