{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}

    <h1>Zarejestruj się</h1>

    {% if user.errors is not empty %}
        <p>Errors:</p>
        <ul>
            {% for error in user.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="post" action="/signup/create">
        <div>
            <label for="inputName">Imię</label>
            <input id="inputName" name="username" placeholder="imię" autofocus value="{{ user.username }}"/>
        </div>
        <div>
            <label for="inputEmail">E-mail</label>
            <input id="inputEmail" name="email" placeholder="e-mail" value="{{ user.email }}"/>
        </div>
        <div>
            <label for="inputPassword">Hasło</label>
            <input type="password" id="inputPassword" name="password" placeholder="hasło"/>
        </div>
        <div>
            <label for="inputPasswordConfirmation">Powtórz hasło</label>
            <input type="password" id="inputPasswordConfirmation" name="password_confirmation" placeholder="powtórz hasło"/>
        </div>

        <button type="submit">Zarejestruj się</button>
    </form>

{% endblock %}