{% extends "base.html" %}

{% block title %}Menu główne{% endblock %}

{% block body %}

    <h3>Menu główne</h3>

    <h4>{{ current_user.username }}, wybierz co chcesz zrobić:</h4>
        <div id="menu">
            <p><a href="/Income/index"><button type="button">Dodaj przychód</button></a></p>
            <p><a href="/Expense/index"><button type="button">Dodaj wydatek</button></a></p>
            <p><button type="button">Przeglądaj bilans</button></p>
            <p><button type="button">Ustawienia</button></p>
        </div>

{% endblock %}