{% extends "base.html" %}

{% block title %}Menu główne{% endblock %}

{% block body %}

    <h2>Menu główne</h2>

    <h3>{{ current_user.username }}, wybierz co chcesz zrobić:</h3>
        <div>
            <p><a href="/Income/index"><button type="button">Dodaj przychód</button></a></p>
            <p><button type="button">Dodaj wydatek</button></p>
            <p><button type="button">Przeglądaj bilans</button></p>
            <p><button type="button">Ustawienia</button></p>
        </div>

{% endblock %}