body{
    margin-top: 3em;
    font-family: 'Darker Grotesque', sans-serif;
    text-align: center;
    color: #29282f;
    font-size: 22px;
    /* Background pattern from subtlepatterns.com */
        background-image: url('img/dot-grid.png');

}
h1, h2{
    font-family: 'Libre Bodoni', serif !important;
    
}
h1{
    font-size: 50px;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 3px;
}
.row{
    border-bottom: 5px solid #7b7bd2;
    border-top: 5px solid #7b7bd2;
    padding: 25px;
    background-color: #9f9fdf;
}
.container{
}
.navbar{
    background-color: white;
    border-bottom: 3px solid #7b7bd2;
    padding: 10px;
    padding-left: 15px;
    padding-right: 35px;
    margin-bottom: 20px;
    /* Background pattern from subtlepatterns.com */
        background-image: url('img/dot-grid.png');
}
#menu{
    margin-top: 20px;
}
button{
    border-radius: 5px;
    border: 3px solid #7b7bd2;
    width: 200px;
    background-color: #9f9fdf;
    font-size: 22px !important;
}
.form-group{
    padding: 5px;
}
.btn,
.dropdown-item{
    background-color: #9f9fdf !important;
    border: 3px solid #7b7bd2 !important;
    color: white;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    margin-bottom: 5px;
}
input[type=text],
input[type=date],
input[type=number],
select,
.form-control{
    border-radius: 5px;
    border: 2px solid #7b7bd2;
    padding: 3px;
    padding-left: 7px;
    color: #9f9fdf;
}
a{
    color: #8383db;
    transition: all .33s ease-in-out;
}
a:hover{
    color: #3b3baa;
}
.btn-primary:hover,
.dropdown-item:hover,
.btn:hover {
    background-color: #8383db !important;
    border: 3px solid #7b7bd2 !important;
    color: aliceblue;
    border-radius: 5px;
}
.form-control{
    width: 300px;
    height: 40px;
    text-align: center;
    margin: auto;
}



