{% extends "base.html" %}

{% block title %}Dodaj wydatek{% endblock %}

{% block body %}
<h2>Dodaj wydatek</h2>
<form method="post">
    <div class="form-group">
        <label for="inputCategory">Kategoria</label>
        <select name="category" id="inputCategory">
            <option>jedzenie</option>
            <option>mieszkanie</option>
            <option>transport</option>
            <option>telekomunikacja</option>
            <option>opieka zdrowotna</option>
            <option>ubrania</option>
            <option>higiena</option>
            <option>dzieci</option>
            <option>rozrywka</option>
            <option>podróże</option>
            <option>szkolenia</option>
            <option>książki</option>
            <option>oszczędności</option>
            <option>spłata długu</option>
            <option>darowizna</option>
            <option>giełda</option>
        </select>
    </div>
    <div class="form-group">
        <label for="inputPayment">Sposób płatności</label>
        <select name="payment" id="inputPayment">
            <option>gotówka</option>
            <option>karta debetowa</option>
            <option>karta kredytowa</option>
        </select>
    </div>
    <div class="form-group">
        <label for="inputAmount">Kwota</label>
        <input type="number" id="inputAmount" name="amount" placeholder="123" min="0" step="0.01" required>
    </div>
    <div class="form-group">
        <label for="inputDate">Data</label>
        <input type="date" id="inputDate" name="date" value="{{ expense.date ? expense.date : current_date }}" min="2000-01-01">
    </div>
    <div class="form-group">
        <label for="inputComment">Komentarz</label>
        <input type="text" id="inputComment" name="comment" placeholder="(opcjonalnie)">
    </div>
   
        <button type="submit" class="btn btn-default">Dodaj</button>
        <a href="/Menu/index"><button type="button" class="btn btn-default">Anuluj</button></a>
    </form>

{% endblock %}