{% extends 'base.html' %}

{% block title %}Forgot password{% endblock %}

{% block body %}

    <h3>Resetowanie hasło</h3>

    <form method="post" action="/password/request-reset">
        <div class="form-group">
            <label for="inputEmail"><i class="icon-mail-alt"></i></label>
            <input type="email" id="inputEmail" name="email" placeholder="e-mail" autofocus required class="form"/>
        </div>
        <button type="submit" class="btn btn-primary">Resetuj hasło</button>
    </form>

{% endblock %}