{% extends "base.html" %}

{% block title %}Profil{% endblock %}

{% block body %}

    <h3>Przeglądaj bilans</h3>

    <div class="btn-group">
        <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Przeglądaj bilans
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="">Obecny miesiąc</a></li>
            <li><a class="dropdown-item" href="#">Poprzedni miesiąc</a></li>
            <li><a class="dropdown-item" href="#">Obecny rok</a></li>
            <li><a class="dropdown-item" href="#">Wybierz okres czasu</a></li>
        </ul>
    </div>
    <div>
    <a href="/Menu/index"><button type="button" class="btn btn-default">Menu główne</button></a>
    </div>


{% endblock %}