{% extends "base.html" %}

{% block title %}Ustawienia{% endblock %}

{% block body %}

<div class="container-lg">
    <h3>Sposoby płatności</h3>

    {% if paymentMethod.errors is not empty %}
    {% for error in paymentMethod.errors %}
    <li class="error">{{ error }}</li>
    {% endfor %}
    {% endif %}

    <div class="modal fade" role="dialog" id="addPaymentModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Dodaj nowy sposób płatności</h3>
                    <button type="button" id="buttonAddPaymentMethod" data-bs-dismiss="modal"
                        aria-label="Close">X</button>
                </div>
                <form method="post" action="/settings/createPaymentMethod">
                    <div class="modal-body">
                        <label for="inputDate">wpisz nazwę sposobu płatności:</label>
                        <div class="form-group"><input type="text" name="nameCategory" minlength="3" maxlength="30"
                                required></div>
                    </div>
                    <div><button type="submit" class="butt" style="width: 120px !important;">Zapisz</button>
                        <a href="/Settings/paymentMethods"><button type="button" class="butt"
                                style="width: 120px !important;">Anuluj</button></a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% for payment in paymentMethods %}
    <div id="formPayment">
        <div id="editPayment">
            <form method="post" action="/settings/editPaymentMethod">
                <input type="text" name="old_name_category" value="{{ payment.namePayment }}"
                    style="width: 200px !important" />
                <input type="text" name="newNameCategory" value="" placeholder="wpisz nową nazwę" minlength="3"
                    maxlength="30" style="width: 200px !important" required />
                <div class="sett btnName">
                    <button type="submit" class="butt">zmień nazwę</button>
                </div>
            </form>
        </div>

        <div id="deletePayment" class="sett">
            <form method="post" action="/settings/deletePaymentMethod">
                <input type="hidden" name="old_id_category" value="{{ payment.id }}" />
                <input type="hidden" name="old_name_category" value="{{ payment.namePayment }}" />
                <button type="submit" class="butt icon-trash-empty" style="width: 70px !important;"></button>
            </form>
        </div>
    </div>

    {% endfor %}

    <div>
        <button type="button" class="butt icon-plus" style="width: 70px !important;" data-bs-toggle="modal"
            data-bs-target="#addPaymentModal"></button>
        <a href="/Settings/index"><button type="button" class="btn-primary" style="width: 120px;">Cofnij</button></a>
    </div>
</div>
{% endblock %}