{% extends "base.html" %}

{% block title %}Ustawienia{% endblock %}

{% block body %}

<div class="container-lg">
    <h3>Kategorie wydatków</h3>

    {% if expenseCategory.errors is not empty %}
    {% for error in expenseCategory.errors %}
    <li class="error">{{ error }}</li>
    {% endfor %}
    {% endif %}

    <div class="modal fade" role="dialog" id="addExpenseCategoryModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Dodaj nową kategorię</h3>
                    <button type="button" id="buttonAddExpenseCategory" data-bs-dismiss="modal"
                        aria-label="Close">X</button>
                </div>
                <form method="post" action="/settings/createExpenseCategory">
                    <div class="modal-body">
                        <label for="inputDate">wpisz nazwę kategorii:</label>
                        <div class="form-group"><input type="text" name="nameCategory" minlength="3" maxlength="30"
                                required></div>
                    </div>
                    <div><button type="submit" class="butt" style="width: 120px !important;">Zapisz</button>
                        <a href="/Settings/expenseCategories"><button type="button" class="butt"
                                style="width: 120px !important;">Anuluj</button></a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% for category in expenseCategories %}
    <div id="formExpense">
        <div id="editExpense">
            <form method="post" action="/settings/editExpenseCategory">
                <input type="text" name="old_name_category" value="{{ category.name }}"
                    style="width: 200px !important" />
                <input type="text" name="newNameCategory" value="" placeholder="wpisz nową nazwę" minlength="3"
                    maxlength="30" style="width: 200px !important" required />
                <div class="sett btnName">
                    <button type="submit" class="butt">zmień nazwę</button>
                </div>
            </form>
        </div>

        <div id="deleteExpense" class="sett">
            <form method="post" action="/settings/deleteExpenseCategory">
                <input type="hidden" name="old_id_category" value="{{ category.id }}" />
                <input type="hidden" name="old_name_category" value="{{ category.name }}" />
                <button id="delBtn" type="submit" class="butt icon-trash-empty"
                    style="width: 70px !important;"></button>
            </form>
        </div>

        <div id="limitExpense" class="sett">
            <form method="post" action="/settings/setLimitExpenseCategory">
                <input type="hidden" name="old_name_category" value="{{ category.name }}" />
                <input type="text" value="{{ category.monthly_limit }}" style="width: 90px;" />
                <input type="number" name="limit" placeholder="wpisz miesięczny limit" min="0" step="1"
                    style="width: 200px !important" required>
                <button id="limitBtn" type="submit" class="butt">ustaw
                    limit</button>
            </form>
        </div>

    </div>

    {% endfor %}

    <div>
        <button type=" button" class="butt icon-plus" style="width: 70px !important;" data-bs-toggle="modal"
            data-bs-target="#addExpenseCategoryModal"></button>
        <a href="/Settings/index"><button type="button" class="btn-primary" style="width: 120px;">cofnij</button></a>
    </div>
</div>

{% endblock %}