{% extends "base.html" %}

{% block title %}Ustawienia{% endblock %}

{% block body %}

    <h3>Kategorie przychodów</h3>

    {% if incomeCategory.errors is not empty %}
    {% for error in incomeCategory.errors %}
    <li class="error">{{ error }}</li>
    {% endfor %}
    {% endif %}

    {% for category in incomeCategories %}
    <div>
    <input type="text" value="{{ category.name }}" disabled/>
    <button type="button" class="butt icon-pencil" style="width: 70px !important;" category-id="{{ category.id }}" category-name="{{ category.name }}" data-bs-toggle="modal" data-bs-target="#editCategoryModal"></button>
    <button type="button" class="butt icon-trash-empty" style="width: 70px !important;"></button>
    </div>
    {% endfor %}

    <div> 
        <button type="button" class="butt icon-plus" style="width: 70px !important; margin:auto; margin-top: 20px;" data-bs-toggle="modal" data-bs-target="#addCategoryModal"></button>
        <a href="/Settings/index"><button type="button" class="btn-primary" style="width: 120px;">Cofnij</button></a>
    </div>

        <div class="modal fade" role="dialog" id="editCategoryModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Edytuj kategorię</h3>
                        <button type="button" id="buttonCustomDate" data-bs-dismiss="modal" aria-label="Close">X</button>
                    </div>
                    <form method="post" action="">
                        <div class="modal-body">
                            <label for="inputDate">wprowadź nową nazwę:</label>
                            <div class="form-group"><input type="text" name="nameCategory"></div>
                        </div>
                        <div><button type="submit" class="butt" style="width: 120px !important;">Zapisz</button>
                            <a href="/Settings/incomeCategories"><button type="button" class="butt"
                                    style="width: 120px !important;">Anuluj</button></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" role="dialog" id="addCategoryModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Dodaj nową kategorię</h3>
                    <button type="button" id="buttonCustomDate" data-bs-dismiss="modal" aria-label="Close">X</button>
                </div>
                <form method="post" action="/settings/createIncomeCategory">
                    <div class="modal-body">
                        <label for="inputDate">wprowadź nazwę kategorii:</label>
                        <div class="form-group"><input type="text" name="nameCategory"></div>
                    </div>
                    <div><button type="submit" class="butt" style="width: 120px !important;">Zapisz</button>
                    <a href="/Settings/incomeCategories"><button type="button" class="butt" style="width: 120px !important;">Anuluj</button></a></div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}