{% extends "base.html" %}

{% block title %}Ustawienia{% endblock %}

{% block body %}

    <div id="menu">
        <p><a href="/Settings/incomeCategories"><button type="button" class="btn-primary">Kategorie przychodów</button></a></p>
        <p><a href="/Settings/expenseCategories"><button type="button" class="btn-primary">Kategorie wydatków</button></a></p>
        <p><a href="/Settings/paymentMethods"><button type="button" class="btn-primary">Sposoby płatności</button></a></p>
    </div>
{% endblock %}