{% extends 'base.html' %}

{% block title %}Profil{% endblock %}

{% block footer %}
<script src="/js/hideShowPassword.min.js"></script>
<script scr="/js/app.js"></script>

<script>
    $(document).ready(function () {
        $('#formProfile').validate({
            rules: {
                name: 'required',
                email: {
                    required: true,
                    email: true,
                    remote: '/account/validate-email'
                },
                password: {
                    required: true,
                    minlength: 6,
                    validPassword: true
                }
            },
            messages: {
                email: {
                    remote: 'E-mail już istnieje w bazie danych.'
                }
            }
        });


        /**
          * Show password toggle button
          */
        $('#inputPassword').hideShowPassword({
            show: false,
            innerToggle: 'focus'
        });
    });
</script>

{% endblock %}

{% block body %}

<h1>Profil</h1>

{% if user.errors is not empty %}
<p>Errors:</p>
<ul>
    {% for error in user.errors %}
    <li>{{ error }}</li>
    {% endfor %}
</ul>
{% endif %}

<form method="post" id="formProfile">

    <div>
        <label for="inputName">Imię</label>
        <input id="inputName" name="username" placeholder="imię" value="{{ user.username }}" required />
    </div>
    <div>
        <label for="inputEmail">E-mail</label>
        <input id="inputEmail" name="email" placeholder="e-mail" value="{{ user.email }}" required type="email" />
    </div>
    <div>
        <label for="inputPassword">Hasło</label>
        <input type="password" id="inputPassword" name="password" placeholder="hasło" required />
    </div>

    <button type="submit">Zapisz</button>
    <a href="/profile/show">Anuluj</a>

</form>

{% endblock %}