{% extends 'base.html' %}

{% block title %}Profil{% endblock %}

{% block body %}

<h3>Profil</h3>

{% if user.errors is not empty %}
{% for error in user.errors %}
<li class="error">{{ error }}</li>
{% endfor %}
{% endif %}

<form method="post" id="formProfile" action="/profile/update">

    <div class="form-group">
        <label for="inputName"><i class="icon-user"></i></label>
        <input id="inputName" name="username" placeholder="imię" value="{{ user.username }}" required class="form" />
    </div>
    <div class="form-group">
        <label for="inputEmail"><i class="icon-mail-alt"></i></label>
        <input id="inputEmail" name="email" placeholder="e-mail" value="{{ user.email }}" required type="email"
            class="form" />
    </div>
    <div class="form-group">
        <label for="inputPassword"><i class="icon-lock"></i></label>
        <input type="password" id="inputPassword" name="password" placeholder="hasło" aria-describedby="helpBlock"
            class="form" required />
        <i class="fa-solid fa-eye-slash" id="show-password"></i>
    </div>
    <span id="helpBlock" class="help-block">Wpisz stare lub nowe hasło</span>

    <p> <button type="submit" class="butt" style="width: 120px !important">Zapisz</button>
        <a href="/profile/show"><button type="button" class="butt"
                style="width: 120px !important">Anuluj</button></a></a>
    </p>
</form>

{% endblock %}